{
  "openapi": "3.0.0",
  "info": {
    "title": "Thrust Calculator",
    "version": "1.0",
    "description": "API for the ThrustCalculator",
    "contact": {
      "name": "Kit Brennan",
      "email": "kit@thrustcarbon.com",
      "url": "https://www.thrustcarbon.com"
    }
  },
  "servers": [
    {
      "url": "https://app.thrustcarbon.com/api/1/calculator"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "summary": "Project: Get",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "first_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "last_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "prev_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string",
                      "description": "Path to this request, without pagination.",
                      "format": "uri"
                    },
                    "from": {
                      "type": "integer"
                    },
                    "to": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "description": "Returns an array of Project objects",
                      "items": {
                        "$ref": "../models/project.v1.json"
                      }
                    }
                  },
                  "required": [
                    "total",
                    "per_page",
                    "current_page",
                    "last_page",
                    "first_page_url",
                    "last_page_url",
                    "next_page_url",
                    "prev_page_url",
                    "path",
                    "from",
                    "to"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page",
            "description": "Results are paginated. By default we will return the first page."
          }
        ]
      },
      "post": {
        "summary": "Project: Post",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "post-projects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Must be a valid ISO 4217 currency code."
                  }
                },
                "required": [
                  "name"
                ]
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        }
      }
    },
    "/projects/{projectId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true,
          "description": ""
        }
      ],
      "put": {
        "summary": "Project: Update",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "put-projects-projectId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD",
                    "minLength": 3,
                    "maxLength": 3,
                    "description": "Must be a 3 letter ISO currency code"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Project: Delete",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "delete-projects-projectId"
      },
      "get": {
        "summary": "Project: Get",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId",
        "description": ""
      }
    },
    "/projects/{projectId}/segments": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Segment: List",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../models/response-paginated.v1.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "../models/segment.v1.yaml"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-segments",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page"
          }
        ]
      },
      "post": {
        "summary": "Segment: Add",
        "tags": [
          "Segments"
        ],
        "responses": {},
        "operationId": "post-projects-projectId-segments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/segment-request.v1.yaml"
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/segments/{segmentId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "segmentId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Segment: Get",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/segment.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-segments-segmentId"
      },
      "delete": {
        "summary": "Segment: Delete",
        "tags": [
          "Segments"
        ],
        "responses": {},
        "operationId": "delete-projects-projectId-segments-segmentId"
      },
      "put": {
        "summary": "Segment: Update",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/segment.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "put-projects-projectId-segments-segmentId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/segment-request.v1.yaml"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "API Key": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your API Key must be provided as a bearer token. To do this, create an 'Authorization' header with a value of 'Bearer {your-api-key}' (e.g. \"Authorization: Bearer xcvboy23idvh\")."
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "API Key": []
    }
  ]
}