{
  "openapi": "3.0.0",
  "info": {
    "title": "Thrust Calculator",
    "version": "1.0",
    "description": "The Thrust Calculator is our industry leading product to creating complex carbon calculations, and generating beautiful reports.\n\n#### Getting Started\n**If it is your first time here, we suggest visiting the [Getting Started guide](../docs/Getting-started.md).**\n\n#### Resources\n* **Projects** - a project is the container for your calculation. Any reports you create are made on a project level.\n* **Segments** - a segment is something that generates an emission (e.g. flight, hotel stay, delivery, raw material purchase). \n* **Offset Options** - an offset option represents a carbon offset that may be attached to your project.\n* **Offset** - a carbon offset which has been added to an offset. This may be in a state of pending, completed (i.e. purchased), or expired.",
    "contact": {
      "name": "Kit Brennan",
      "email": "kit@thrustcarbon.com",
      "url": "https://www.thrustcarbon.com"
    }
  },
  "servers": [
    {
      "url": "https://app.thrustcarbon.com/api/1/calculator",
      "description": "Production"
    },
    {
      "url": "http://thrust.test/api/1/calculator",
      "description": "Internal"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "summary": "Project: List",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "first_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "last_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "prev_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string",
                      "description": "Path to this request, without pagination.",
                      "format": "uri"
                    },
                    "from": {
                      "type": "integer"
                    },
                    "to": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "description": "Returns an array of Project objects",
                      "items": {
                        "$ref": "../models/project.v1.json"
                      }
                    }
                  },
                  "required": [
                    "total",
                    "per_page",
                    "current_page",
                    "last_page",
                    "first_page_url",
                    "last_page_url",
                    "next_page_url",
                    "prev_page_url",
                    "path",
                    "from",
                    "to"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page",
            "description": "Results are paginated. By default we will return the first page."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Accept",
            "description": "",
            "required": true
          }
        ],
        "description": "Gets an existing project in your ThrustCalculator account."
      },
      "post": {
        "summary": "Project: Add",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "post-projects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency_symbol": {
                    "type": "string",
                    "description": "Must be a valid ISO 4217 currency code."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "Example Payload": {
                  "value": {
                    "name": "My example project",
                    "description": "A simply description",
                    "currency_symbol": "GBP"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "application/json"
          }
        ],
        "description": "Creates a new project in your Thrust Calculator account."
      }
    },
    "/projects/{projectId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true,
          "description": ""
        }
      ],
      "put": {
        "summary": "Project: Update",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "put-projects-projectId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD",
                    "minLength": 3,
                    "maxLength": 3,
                    "description": "Must be a 3 letter ISO currency code"
                  }
                }
              }
            }
          }
        },
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access."
      },
      "delete": {
        "summary": "Project: Delete",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "delete-projects-projectId",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access."
      },
      "get": {
        "summary": "Project: Get",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId",
        "description": "Gets an existing Thrust Calculator project."
      }
    },
    "/projects/{projectId}/segments": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Segment: List",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../models/response-paginated.v1.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "../models/segments/segment.v1.yaml"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-segments",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page"
          }
        ],
        "description": "Gets a list of all segments belonging to a project."
      },
      "post": {
        "summary": "Segment: Add",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/segments/segment.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "post-projects-projectId-segments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/segment-requests/segment-request.v1.yaml"
              }
            }
          }
        },
        "description": "Adds a new segment to a project."
      }
    },
    "/projects/{projectId}/segments/{segmentId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "segmentId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Segment: Get",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/segments/segment.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-segments-segmentId",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Accept",
            "required": true
          }
        ],
        "description": "Gets an existing segment."
      },
      "delete": {
        "summary": "Segment: Delete",
        "tags": [
          "Segments"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "delete-projects-projectId-segments-segmentId",
        "description": "Deletes an existing segment on a project."
      },
      "put": {
        "summary": "Segment: Update",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/segments/segment.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "put-projects-projectId-segments-segmentId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "../models/segment-requests/segment-request.v1.yaml"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          },
          "description": "Please ignore the fields that say they are required. These fields are not required on a PUT operation."
        },
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access."
      }
    },
    "/projects/{projectId}/offset-options": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get offset options",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "../models/offset-option.v1.yaml"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-offset-options",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nProvides a list of offset options available for this project. You can use this list to:\n* Display a list of offset opportunities to your users.\n* Take a returned offset option and attach it to your project. Once an offset is attached, you can purchase the offset by finalising the project.\n\nPlease note: at this time, you will need to contact ThrustCarbon directly to purchase more than 1,000 tonnes in a single purchase."
      }
    },
    "/projects/{projectId}/offsets": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Add new offset",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/offset.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "post-projects-projectId-offsets",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nAttach an offset option to this project",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset_option_id": {
                    "type": "string"
                  },
                  "tonnes_of_co2": {
                    "type": "string",
                    "description": "Number of tonnes of co2 you would like to purchase."
                  },
                  "price_per_tonne": {
                    "type": "string",
                    "description": "Optional. If you provide a price-per-tonne, your request will be validated against the current price-per-tonne and return an error if that price is no longer valid.\n\nWe recommend providing this parameter to verify that the price hasn't moved between requesting an offset option and attaching an offset."
                  },
                  "price_currency": {
                    "type": "string",
                    "default": "GBP",
                    "description": "Used in conjunction with price_per_tonne"
                  }
                },
                "required": [
                  "offset_option_id",
                  "tonnes_of_co2"
                ]
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/offsets/{offsetId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "offsetId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get offset",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "../models/offset.v1.yaml"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-offsets-offsetId",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nGets an offset that you have already attached to a project."
      },
      "delete": {
        "summary": "Delete offset",
        "tags": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "delete-projects-projectId-offsets-offsetId",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nRemoves an offset that was attached to a project."
      }
    },
    "/projects/{projectId}/finalise": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Finalise a project",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "put-projects-projectId-finalise",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nFinalising a project will convert all the offsets from 'pending' to 'confirmed', and change the project status to 'complete'.\n\n**Usage of this endpoint will cost you money.** Offsets will be purchased on your behalf, removing carbon from the atmosphere."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "API Key": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your API Key must be provided as a bearer token. To do this, create an 'Authorization' header with a value of 'Bearer {your-api-key}' (e.g. \"Authorization: Bearer xcvboy23idvh\")."
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "API Key": []
    }
  ]
}