{
  "openapi": "3.0.0",
  "info": {
    "title": "Endpoints (1): Thrust Calculator",
    "version": "1.0",
    "description": "The Thrust Calculator is our industry leading product to creating complex carbon calculations, and generating beautiful reports.\n\n#### Getting Started\n**If it is your first time here, we suggest visiting the [Getting Started guide](../docs/../1.Getting-started.md).**\n\n#### Resources\n* **Projects** - a project is the container for your calculation. Any reports you create are made on a project level.\n* **Segments** - a segment is something that generates an emission (e.g. flight, hotel stay, delivery, raw material purchase). \n* **Offset Options** - an offset option represents a carbon offset that may be attached to your project.\n* **Offset** - a carbon offset which has been added to an offset. This may be in a state of pending, completed (i.e. purchased), or expired.",
    "contact": {
      "name": "Kit Brennan",
      "email": "kit@thrustcarbon.com",
      "url": "https://www.thrustcarbon.com"
    }
  },
  "servers": [
    {
      "url": "https://app.thrustcarbon.com/api/1/calculator",
      "description": "Production"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "summary": "Project: List",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "first_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "last_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "prev_page_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string",
                      "description": "Path to this request, without pagination.",
                      "format": "uri"
                    },
                    "from": {
                      "type": "integer"
                    },
                    "to": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "description": "Returns an array of Project objects",
                      "items": {
                        "$ref": "../models/common-models/project.v1.json"
                      }
                    }
                  },
                  "required": [
                    "total",
                    "per_page",
                    "current_page",
                    "last_page",
                    "first_page_url",
                    "last_page_url",
                    "next_page_url",
                    "prev_page_url",
                    "path",
                    "from",
                    "to"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page",
            "description": "Results are paginated. By default we will return the first page."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Accept",
            "description": "",
            "required": true
          }
        ],
        "description": "Gets an existing project in your ThrustCalculator account."
      },
      "post": {
        "summary": "Project: Add",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "post-projects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency_symbol": {
                    "type": "string",
                    "description": "Must be a valid ISO 4217 currency code.",
                    "example": "GBP"
                  },
                  "is_premium": {
                    "type": "boolean",
                    "default": false,
                    "description": "Premium projects will provide emissions data in API calls, and generate premium reports.\n\n**Premium projects are billable**"
                  }
                },
                "required": [
                  "name",
                  "currency_symbol"
                ]
              },
              "examples": {
                "Example Payload": {
                  "value": {
                    "name": "My example project",
                    "description": "A simply description",
                    "currency_symbol": "GBP"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "application/json"
          }
        ],
        "description": "Creates a new project in your Thrust Calculator account.\n\n<!-- theme: warning -->\n\n> ### PREMIUM PROJECTS ARE BILLABLE\n> If you set `is_premium` to `true`, you will be billed for this project according to your account's Thrust Calculator pricing schedule.\n>\n> Unsure about pricing, or made a mistake? Reach out to your Thrust Carbon account manager."
      }
    },
    "/projects/{projectId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true,
          "description": ""
        }
      ],
      "put": {
        "summary": "Project: Update",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "put-projects-projectId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency_symbol": {
                    "type": "string",
                    "example": "USD",
                    "minLength": 3,
                    "maxLength": 3,
                    "description": "Must be a 3 letter ISO currency code"
                  },
                  "is_premium": {
                    "type": "boolean",
                    "description": "Premium projects will provide emissions data in API calls, and generate premium reports.\n\n**Premium projects are billable**"
                  }
                }
              }
            }
          }
        },
        "description": "Updates a Thrust Carbon project.\n\n\n<!-- theme: warning -->\n\n> ### PREMIUM PROJECTS ARE BILLABLE\n> If you set `is_premium` to `true`, you will be billed for this project according to your account's Thrust Calculator pricing schedule.\n>\n> Unsure about pricing, or made a mistake? Reach out to your Thrust Carbon account manager."
      },
      "delete": {
        "summary": "Project: Delete",
        "tags": [
          "Projects"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "delete-projects-projectId",
        "description": "**Please note: you cannot remove a project that has offsets attached**. This is because an offset represents a purchase. You should remove the offsets from the project if the project is not finalised."
      },
      "get": {
        "summary": "Project: Get",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId",
        "description": "Gets an existing Thrust Calculator project."
      }
    },
    "/projects/{projectId}/segments": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Segment: List",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../models/common-models/response-paginated.v1.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "../models/segments/segment.v1.yaml"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-segments",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page"
          }
        ],
        "description": "Gets a list of all segments belonging to a project.\n\n<!-- theme: warning -->\n> ### Only premium accounts can see the `tonnes_of_emissions` data\n>\n> If you are using a free Thrust Calculator account, you can use our APIs to manage your project data, however you will not be able to access the `tonnes_of_emissions` key without upgrading to a premium account.\n>\n> Want access to emissions data without a Thrust Calculator subscription? You should use our [emissions API](endpoints/3-emission.v1.yaml) instead, which is a cheaper, non-persistent way to access emissions."
      },
      "post": {
        "summary": "Segment: Add",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/segments/segment.v1.yaml"
                },
                "examples": {
                  "Flight Example": {
                    "value": {
                      "id": "ec34f49e-ab0c-4ffa-854f-5cdfc230cbe1",
                      "created_at": "2021-04-16T09:23:45.000000Z",
                      "updated_at": "2021-04-16T09:23:45.000000Z",
                      "type": "air",
                      "tonnes_of_emissions": 2.4609454662444006,
                      "distance": 5539.377540497169,
                      "distance_adjusted": 5664.377540497169,
                      "emitted_at": "2020-01-01",
                      "locations": [
                        "LHR",
                        "JFK"
                      ],
                      "travel_class": "business"
                    }
                  },
                  "Hotel Example": {
                    "value": {
                      "id": "4e080d79-57df-4f4f-acc5-ba55f6d54338",
                      "created_at": "2021-04-16T09:30:39.000000Z",
                      "updated_at": "2021-04-16T09:30:39.000000Z",
                      "type": "hotel",
                      "tonnes_of_emissions": 0.0214,
                      "locations": [
                        "US"
                      ],
                      "metadata": {
                        "PNR": "AB12CD"
                      },
                      "rooms": 1
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "post-projects-projectId-segments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/segment-requests/segment-request.v1.yaml"
              },
              "examples": {
                "Flight Example": {
                  "value": {
                    "type": "air",
                    "locations": [
                      "LHR",
                      "JFK"
                    ],
                    "travel_class": "business",
                    "emitted_at": "2020-01-01"
                  }
                },
                "Hotel Example": {
                  "value": {
                    "type": "hotel",
                    "locations": [
                      "US"
                    ],
                    "rooms": 1,
                    "metadata": {
                      "PNR": "AB12CD"
                    }
                  }
                },
                "Grouping Example": {
                  "value": {
                    "type": "air",
                    "locations": [
                      "LHR",
                      "JFK"
                    ],
                    "groupings": {
                      "default": [
                        "MARKETING"
                      ],
                      "cost-center": [
                        "12345"
                      ]
                    }
                  }
                }
              }
            }
          },
          "description": "We have a wide variety of segment request types, [which can be explored here](https://docs.thrustcarbon.com/docs/thrust-docs/models/segment-requests/segment-request.v1.yaml)."
        },
        "description": "Adds a new segment to a project.\n\nYour request should be a 'Segment Request' payload. You can see examples of [all the segment requests here](https://docs.thrustcarbon.com/docs/thrust-docs/models/segment-requests/segment-request.v1.yaml).\n\nYour response will be a 'Segment response. You can see examples of [all the segment responses here](https://docs.thrustcarbon.com/docs/thrust-docs/models/segments/segment.v1.yaml).\n\n<!-- theme: warning -->\n> ### Only premium accounts can see the `tonnes_of_emissions` data\n>\n> If you are using a free Thrust Calculator account, you can use our APIs to manage your project data, however you will not be able to access the `tonnes_of_emissions` key without upgrading to a premium account.\n>\n> Want access to emissions data without a Thrust Calculator subscription? You should use our [emissions API](endpoints/3-emission.v1.yaml) instead, which is a cheaper, non-persistent way to access emissions."
      }
    },
    "/projects/{projectId}/segments/{segmentId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "segmentId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Segment: Get",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/segments/segment.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-segments-segmentId",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Accept",
            "required": true
          }
        ],
        "description": "Gets an existing segment.\n\n<!-- theme: warning -->\n> ### Only premium accounts can see the `tonnes_of_emissions` data\n>\n> If you are using a free Thrust Calculator account, you can use our APIs to manage your project data, however you will not be able to access the `tonnes_of_emissions` key without upgrading to a premium account.\n>\n> Want access to emissions data without a Thrust Calculator subscription? You should use our [emissions API](endpoints/3-emission.v1.yaml) instead, which is a cheaper, non-persistent way to access emissions."
      },
      "delete": {
        "summary": "Segment: Delete",
        "tags": [
          "Segments"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "delete-projects-projectId-segments-segmentId",
        "description": "Deletes an existing segment on a project."
      },
      "put": {
        "summary": "Segment: Update",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/segments/segment.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "put-projects-projectId-segments-segmentId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "../models/segment-requests/segment-request.v1.yaml"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          },
          "description": "Please ignore the fields that say they are required. These fields are not required on a PUT operation."
        },
        "description": "Updates an existing segment.\n\n<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access.\n\n<!-- theme: warning -->\n> ### Only premium accounts can see the `tonnes_of_emissions` data\n>\n> If you are using a free Thrust Calculator account, you can use our APIs to manage your project data, however you will not be able to access the `tonnes_of_emissions` key without upgrading to a premium account.\n>\n> Want access to emissions data without a Thrust Calculator subscription? You should use our [emissions API](endpoints/3-emission.v1.yaml) instead, which is a cheaper, non-persistent way to access emissions."
      }
    },
    "/projects/{projectId}/offsets/options": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "default": "00000000-0000-0000-0000-000000000000"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get offset options",
        "tags": [
          "Offsets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../models/common-models/response-paginated.v1.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "../models/common-models/offset-project.v1.yaml"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-offset-options",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nProvides a list of offset options available for this project. You can use this list to:\n* Display a list of offset opportunities to your users.\n* Take a returned offset option and attach it to your project. Once an offset is attached, you can purchase the offset by finalising the project.\n\nPlease note: at this time, you will need to contact ThrustCarbon directly to purchase more than 1,000 tonnes in a single purchase."
      }
    },
    "/projects/{projectId}/offsets": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "default": "00000000-0000-0000-0000-000000000000"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Add new offset",
        "tags": [
          "Offsets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/offset.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "post-projects-projectId-offsets",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nAttach an offset option to this project",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset_option_id": {
                    "type": "string"
                  },
                  "tonnes_of_co2": {
                    "description": "Number of tonnes of co2 you would like to purchase.",
                    "type": "number"
                  },
                  "price_per_tonne": {
                    "description": "In base units (e.g. USD cent, GBP pennies, etc).\n\nOptional. If you provide a price-per-tonne, your request will be validated against the current price-per-tonne and return an error if that price is no longer valid.\n\nWe recommend providing this parameter to verify that the price hasn't moved between requesting an offset option and attaching an offset.",
                    "type": "number"
                  },
                  "price_currency": {
                    "type": "string",
                    "default": "GBP",
                    "description": "Used in conjunction with price_per_tonne"
                  },
                  "is_sandbox": {
                    "type": "boolean",
                    "description": "Defaults to false. Change to true to create real offsets in production (warning, this will incur fees if you later confirm these offsets)."
                  }
                },
                "required": [
                  "offset_option_id",
                  "tonnes_of_co2"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type"
          }
        ]
      },
      "get": {
        "summary": "List project's offsets",
        "operationId": "get-projects-projectId-offsets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../models/common-models/response-paginated.v1.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "../models/common-models/offset.v1.yaml"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nLists all offsets associated with a project.",
        "tags": [
          "Offsets"
        ]
      }
    },
    "/projects/{projectId}/offsets/{offsetId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "default": "00000000-0000-0000-0000-000000000000"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "default": "00000000-0000-0000-0000-000000000000"
          },
          "name": "offsetId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get offset",
        "tags": [
          "Offsets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "../models/common-models/offset.v1.yaml"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-offsets-offsetId",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nGets an offset that you have already attached to a project."
      },
      "delete": {
        "summary": "Delete offset",
        "tags": [
          "Offsets"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "delete-projects-projectId-offsets-offsetId",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nRemoves an offset that was attached to a project. Please note, this will not refund an offset (you will need to contact Thrust Carbon support for refunds), it will also not delete the underlying offset from your account (this is "
      }
    },
    "/projects/{projectId}/offsets/{offsetId}/confirm": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "default": "00000000-0000-0000-0000-000000000000"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "default": "00000000-0000-0000-0000-000000000000"
          },
          "name": "offsetId",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Confirm offset",
        "operationId": "put-projects-projectId-offsets-offsetId-confirm",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/offset.v1.yaml"
                }
              }
            }
          }
        },
        "tags": [
          "Offsets"
        ],
        "description": "<!-- theme: warning -->\n\n> ### BILLABLE ENDPOINT\n> This endpoint will cost you money in production. If you are testing, you should only use this endpoint with offsets that have `is_sandbox` set to true.\n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nThis endpoint will convert a PENDING offset into a CONFIRMED offset. When an offset is CONFIRMED, we will purchase and retire a carbon credit on your behalf; your account will then be billed for this purchase.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type"
          }
        ]
      }
    },
    "/projects/{projectId}/finalise": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Finalise a project",
        "tags": [
          "Finalise"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/project.v1.json"
                }
              }
            }
          }
        },
        "operationId": "put-projects-projectId-finalise",
        "description": "<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nFinalising a project will convert all the offsets from 'pending' to 'confirmed', and change the project status to 'complete'.\n\n**Usage of this endpoint will cost you money.** Offsets will be purchased on your behalf, removing carbon from the atmosphere."
      }
    },
    "/projects/{projectId}/segments/batch": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "projectId",
          "in": "path",
          "required": true,
          "description": "ID of the calculator project"
        }
      ],
      "post": {
        "summary": "Segment: Batch add",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_segments": {
                      "type": "object",
                      "properties": {
                        "0": {
                          "$ref": "../models/segments/segment.v1.yaml"
                        }
                      }
                    },
                    "invalid_segments": {
                      "type": "object",
                      "description": "Each invalid segment object is keyed to the same segment key that was passed into the request. *For example, the third segment will be under the '3' key in the invalid_segments array.*",
                      "properties": {
                        "1": {
                          "$ref": "../reference/common/models/validation-error.v1.yaml"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example with air segments": {
                    "value": {
                      "created_segments": {
                        "0": {
                          "id": "30a9d544-03c9-42b1-8d89-52b8c6a88196",
                          "created_at": "2020-08-13T09:26:56.000000Z",
                          "updated_at": "2020-08-13T09:26:56.000000Z",
                          "type": "air",
                          "tonnes_of_emissions": 0.8485803993418809,
                          "locations": [
                            "LHR",
                            "JFK"
                          ]
                        },
                        "1": {
                          "id": "44bfb576-acb9-4f70-9200-e89ad4b4b8e0",
                          "created_at": "2020-08-13T09:26:56.000000Z",
                          "updated_at": "2020-08-13T09:26:56.000000Z",
                          "type": "air",
                          "tonnes_of_emissions": 0.9458074863536594,
                          "locations": [
                            "CPH",
                            "JFK"
                          ]
                        },
                        "3": {
                          "id": "74727b13-4fa7-4a15-b0be-bc3abeb263cb",
                          "created_at": "2020-08-13T09:26:56.000000Z",
                          "updated_at": "2020-08-13T09:26:56.000000Z",
                          "type": "air",
                          "tonnes_of_emissions": 0.9458074863536594,
                          "locations": [
                            "CPH",
                            "JFK"
                          ]
                        }
                      },
                      "invalid_segments": {
                        "2": {
                          "passengers": [
                            "The passengers must be an integer."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-segments-batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "segments": {
                    "type": "array",
                    "items": {
                      "$ref": "../models/segment-requests/segment-request.v1.yaml"
                    }
                  }
                },
                "required": [
                  "segments"
                ]
              },
              "examples": {
                "Example with air segments": {
                  "value": {
                    "segments": [
                      {
                        "type": "air",
                        "locations": [
                          "LHR",
                          "JFK"
                        ]
                      },
                      {
                        "type": "air",
                        "locations": [
                          "CPH",
                          "JFK"
                        ]
                      },
                      {
                        "type": "air",
                        "locations": [
                          "LHR",
                          "JFK"
                        ],
                        "passengers": "invalid"
                      },
                      {
                        "type": "air",
                        "locations": [
                          "CPH",
                          "JFK"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "This endpoint will batch add segments.\n\nThe fully qualified URI for this request is: `https://app.thrustcarbon.com/api/1/calculator/projects/{projectId}`\n\n<!-- theme: warning -->\n> ### Only premium accounts can see the `tonnes_of_emissions` data\n>\n> If you are using a free Thrust Calculator account, you can use our APIs to manage your project data, however you will not be able to access the `tonnes_of_emissions` key without upgrading to a premium account.\n>\n> Want access to emissions data without a Thrust Calculator subscription? You should use our [emissions API](endpoints/3-emission.v1.yaml) instead, which is a cheaper, non-persistent way to access emissions."
      }
    },
    "/projects/{projectId}/reports": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Reports: list",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../models/common-models/response-paginated.v1.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "../models/common-models/report.v1.yaml"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-reports",
        "description": "Lists all of the reports that have been generated on this account.\n\n<!-- theme: warning -->\n\n> ### Considerations when using reports\n>\n> Reports are asynchronous, limited validity and will expire after a period of time. [Please read the report model documentation which explains these caveats in more detail](../models/common-models/report.v1.yaml).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "report_type": {
                    "type": "string",
                    "enum": [
                      "impact",
                      "offset_options",
                      "certificates"
                    ],
                    "example": "impact",
                    "description": "Filter the reports"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page",
            "description": "Results are paginated. By default we will return the first page."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "impact",
                "offset_options",
                "certificates"
              ],
              "example": "impact"
            },
            "in": "query",
            "name": "report_type",
            "description": "Filter the reports to only display reports of a specific type."
          }
        ]
      },
      "post": {
        "summary": "Reports: new",
        "operationId": "post-projects-projectId-reports",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/report.v1.yaml"
                }
              }
            }
          }
        },
        "description": "Create a new report. This will return a report in a 'requested' state, you will then need to wait for the report to finish generating (10-60 seconds); we recommend using webhooks to wait for changes.\n\n<!-- theme: warning -->\n\n> ### Considerations when using reports\n>\n> Reports are asynchronous, limited validity and will expire after a period of time. [Please read the report model documentation which explains these caveats in more detail](../models/common-models/report.v1.yaml).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "impact",
                      "offset_options",
                      "certificates"
                    ]
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "format": "date",
                        "description": "Displays all data *on and after* this date."
                      },
                      "end": {
                        "type": "string",
                        "format": "date",
                        "description": "Displays data *before* this date."
                      },
                      "grouping_type": {
                        "type": "string",
                        "description": "Only valid when used with the `grouping` parameter.\n\nDisplays segments that has a `grouping` with this `grouping_type`.",
                        "default": "default"
                      },
                      "grouping": {
                        "type": "string",
                        "description": "Only returns segments that have this `grouping` attached."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/projects/{projectId}/reports/{reportId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "reportId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Report: get",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/report.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-reports-reportId",
        "description": "Gets a specific report.\n\n<!-- theme: warning -->\n\n> ### Considerations when using reports\n>\n> Reports are asynchronous, limited validity and will expire after a period of time. [Please read the report model documentation which explains these caveats in more detail](../models/common-models/report.v1.yaml)."
      }
    },
    "/projects/{projectId}/statistics/total-emissions": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Statistics: GET total emissions",
        "tags": [
          "Statistics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tonnes_of_co2": {
                      "type": "number"
                    },
                    "equivalencies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "strings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "amount": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-statistics",
        "description": "Fetches the 'total emission' statistics for this project.\n\n\n<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/statistics-request"
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/statistics/metadata": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Statistics: GET metedata of emissions",
        "tags": [
          "Statistics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segment_types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "segment_type": {
                            "type": "string"
                          },
                          "tonnes_of_co2": {
                            "type": "number"
                          },
                          "passengers": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example of project with air, hotel and car.": {
                    "value": {
                      "segment_types": [
                        {
                          "segment_type": "air",
                          "tonnes_of_co2": 1.43,
                          "passengers": 2
                        },
                        {
                          "segment_type": "hotel",
                          "tonnes_of_co2": 0.27,
                          "passengers": 8
                        },
                        {
                          "segment_type": "car",
                          "tonnes_of_co2": 0.92,
                          "passengers": 80
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-projects-projectId-statistics-types",
        "description": "Returns the metadata for the segment types in a project.\n\n<!-- theme: danger -->\n\n> ### BETA ENDPOINT\n> Please contact your account manager for access.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/statistics-request"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "API Key": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your API Key must be provided as a bearer token. To do this, create an 'Authorization' header with a value of 'Bearer {your-api-key}' (e.g. \"Authorization: Bearer xcvboy23idvh\")."
      }
    },
    "schemas": {
      "statistics-request": {
        "title": "Statistics Request Body",
        "type": "object",
        "description": "Request format for a Thrust Calculator statistics endpoints.",
        "x-tags": [
          "Statistics"
        ],
        "properties": {
          "start": {
            "type": "string",
            "format": "date"
          },
          "end": {
            "type": "string",
            "format": "date"
          },
          "employee_id": {
            "type": "string"
          },
          "grouping": {
            "type": "string"
          },
          "grouping_type": {
            "type": "string",
            "default": "default",
            "example": "default",
            "description": "Should be empty, 'default', or match a grouping type slug from your organisation settings."
          },
          "grouping_include_sub_groups": {
            "type": "boolean",
            "default": false,
            "description": "If you have a hierarchy of groupings, should we include data belonging to groupings that sit under the current grouping?"
          }
        },
        "x-examples": {
          "Default grouping example": {
            "value": {
              "start": "2019-01-01",
              "end": "2020-01-01",
              "grouping": "MARKETING"
            }
          },
          "Custom grouping example": {
            "value": {
              "grouping": "EU-MARKET-01",
              "grouping_type": "cost-center",
              "grouping_include_sub_groups": true
            }
          }
        },
        "x-internal": true
      }
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [
    {
      "name": "Offsets"
    },
    {
      "name": "Finalise"
    },
    {
      "name": "Segments"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Statistics"
    }
  ]
}