{
  "openapi": "3.0.0",
  "info": {
    "title": "Endpoints (2): Thrust Widget",
    "version": "1.0",
    "description": "",
    "contact": {
      "name": "Kit Brennan",
      "email": "kit@thrustcarbon.com",
      "url": "https://www.thrustcarbon.com"
    }
  },
  "servers": [
    {
      "url": "https://app.thrustcarbon.com/api/1/widget",
      "description": "Production"
    }
  ],
  "paths": {
    "/emission": {
      "get": {
        "summary": "Emission: Get",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/emission.v1.json"
                },
                "examples": {
                  "Example with 2 errors": {
                    "value": {
                      "emissions": 0.8485803993418809,
                      "invalidSegments": {
                        "2": {
                          "type": [
                            "The selected type is invalid."
                          ]
                        },
                        "5": {
                          "rooms": [
                            "The rooms must be an integer."
                          ]
                        }
                      },
                      "equivalencies": [
                        {
                          "type": "tree",
                          "values": [
                            "This is equivalent to burning a forest containing",
                            "0.56 mature oak trees."
                          ]
                        },
                        {
                          "type": "video-call",
                          "values": [
                            "This is equivalent to 8486 days of video conferencing."
                          ]
                        },
                        {
                          "type": "moon",
                          "values": [
                            "This is equivalent to driving a small car 7708 kilometers.",
                            "You could also drive 0.02% of the way to the moon."
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-emissions",
        "description": "> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nA standalone endpoint to calculate emissions.\n\nFull URI: https://app.thrustcarbon.com/api/1/widget/emission",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "segments": {
                    "type": "array",
                    "items": {
                      "$ref": "../models/segment-requests/segment-request.v1.yaml"
                    }
                  }
                }
              },
              "examples": {
                "Air segment example": {
                  "value": {
                    "segments": [
                      {
                        "type": "air",
                        "locations": [
                          "LHR",
                          "JFK"
                        ],
                        "passengers": 1,
                        "travel_class": "economy",
                        "carrier": "BA",
                        "aircraft_type": "B748"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": []
      },
      "parameters": []
    },
    "/offsets/{offsetId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "offsetId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Offset: Get",
        "tags": [
          "Offsets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/offset.v1.yaml"
                }
              }
            }
          }
        },
        "operationId": "get-offset-offsetId",
        "description": "Returns an offset that you have already created. This endpoint returns offsets created by both the Thrust Widget and the Thrust Calculator."
      }
    },
    "/offsets/{offsetId}/confirm": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "offsetId",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Offset: confirm",
        "operationId": "post-offset-offsetId-confirm",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/common-models/offset.v1.yaml"
                }
              }
            }
          }
        },
        "description": "<!-- theme: warning -->\n\n> ### Confirming offsets may cost money\n>\n> Confirming an offset outside of the sandbox environment will result in a real offset being purchased, and your account incurring a charge. While developing, please your sandbox developer key to ensure you are only confirming sandbox offsets.\n\nConfirming an offset will result in Thrust Carbon purchasing a carbon credit on your behalf in order to reduce carbon from the atmosphere."
      }
    },
    "/emission/batch": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "../models/common-models/emission.v1.json"
                  }
                },
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "emissions": 0.8485803993418809,
                        "equivalencies": [
                          {
                            "type": "tree",
                            "values": [
                              "This is equivalent to burning a forest containing",
                              "0.56 mature oak trees."
                            ]
                          },
                          {
                            "type": "video-call",
                            "values": [
                              "This is equivalent to 8486 days of video conferencing."
                            ]
                          },
                          {
                            "type": "moon",
                            "values": [
                              "This is equivalent to driving a small car 7708 kilometers.",
                              "You could also drive 0.02% of the way to the moon."
                            ]
                          }
                        ]
                      },
                      {
                        "emissions": 2.1,
                        "equivalencies": [
                          {
                            "type": "tree",
                            "values": [
                              "This is equivalent to burning a forest containing",
                              "0.56 mature oak trees."
                            ]
                          },
                          {
                            "type": "video-call",
                            "values": [
                              "This is equivalent to 8486 days of video conferencing."
                            ]
                          },
                          {
                            "type": "moon",
                            "values": [
                              "This is equivalent to driving a small car 7708 kilometers.",
                              "You could also drive 0.02% of the way to the moon."
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-emission-batch",
        "description": "> ### BETA ENDPOINT\n> Please contact your account manager for access. \n> \n> _Please note: you can manually perform these actions via your Thrust Carbon dashboard_\n\nA standalone endpoint to calculate a batch of emissions individually. You must pass in **an array of an array** of segments. Each top level array will be calculated individually.\n\nThis endpoint is useful when you want to compare many separate emissions, for example when you want to separately compare the emissions from two different flights in one request.\n\nFull URI: https://app.thrustcarbon.com/api/1/widget/emission/batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "segments": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "../models/segment-requests/segment-request.v1.yaml"
                      }
                    }
                  }
                }
              },
              "examples": {
                "2 flight comparison example": {
                  "value": {
                    "segments": [
                      [
                        {
                          "type": "air",
                          "locations": [
                            "LHR",
                            "JFK"
                          ],
                          "passengers": 1,
                          "travel_class": "economy",
                          "carrier": "BA",
                          "aircraft_type": "B748"
                        }
                      ],
                      [
                        {
                          "type": "air",
                          "locations": [
                            "LHR",
                            "JFK"
                          ],
                          "passengers": 1,
                          "travel_class": "business",
                          "carrier": "BA",
                          "aircraft_type": "B748"
                        }
                      ]
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "API Key ": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your API Key must be provided as a bearer token. To do this, create an 'Authorization' header with a value of 'Bearer {your-api-key}' (e.g. \"Authorization: Bearer xcvboy23idvh\")."
      }
    }
  },
  "security": [
    {
      "API Key ": []
    }
  ],
  "tags": [
    {
      "name": "Offsets"
    }
  ]
}